root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[COMMIT_EDITMSG]
max_line_length = 72

[LICENSE]
max_line_length = 80

[*.{json,toml}]
indent_size = 2
indent_style = space

[git/{config,config.base}]
indent_style = tab

[*.{fish,lua}]
indent_size = 4
indent_style = space
max_line_length = 80

[tmux/tmux.conf]
indent_size = 4
indent_style = space
max_line_length = 80
